@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');



body {
    background-color: $background-dark;
    width: 100%;

}

a {
    text-decoration: none;
    color: $secondary-color;
    font-size: 16px;
}

main {
    font-family: "Roboto Mono", monospace;
    color: $secondary-color;
    position: relative;
    width: 100%;
    height:100vh;

  
}


.background {
    background-image: url("/assets/as1orb74\ 1\ \(1\).png");
    background-position: center;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -5;
    top: 0;


}


.menu__default {
    font-size: 36px;
    font-weight: 700;
    color: $secondary-color;
    padding-bottom: 40px;

    @media (min-width: $tablet) {
      font-size: 48px;
    }

    @media (min-width: $desktop) {
      font-size: 72px;
    }
    
}

.menu__work {
  font-size: 24px;
  font-weight: 400;
  color: $secondary-color;
  padding-bottom: 40px;
  margin: 0 15px;
}

.menu__active {
    color: $primary-color;
}

.navbar {
  z-index: 999;
}

.header {
    background-color: rgba($background, 0.6);
    padding: 53px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    position: sticky;
    top: 0;

}

.nav-container {
    display: block;
    position: relative;
    height: 20px;
   

  }
  
  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 50px;
    right: 40px;
    opacity: 0;
    cursor: pointer;
    z-index: 5;
  }

.nav-container .header__text {
    text-decoration: none;
    font-family: "Roboto Mono", monospace;
    color: $secondary-color;
    font-size: 16px;
    font-weight: 700;

    @media (min-width: $tablet) {
      font-size: 18px;
    }

  
    
}
  
  .nav-container .hamburger-lines {
    display: flex;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 50px;
    right: 40px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

  .nav-container .header__text {
    position: absolute;
    top: 50px;
   left: 40px;
    z-index: 2;

  }
  
  .nav-container .hamburger-lines .line {
    display: block;
    height: 2px;
    width: 100%;
    background: $secondary-color;
  }
  
  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  .navbar .menu-items {
    background-color: $background;
    z-index: 1;
    height: 100vh;
    width: 100%;
    transition: transform 0.7s ease-in-out;
    transform: translateY(-150%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    ul {
        width: $gridwidth;
    margin: 0 auto;

    @media(min-width: $desktop){
        width: $gridwidthd;
    }
    }
  }
  
  .navbar .menu-items li {
    margin-left: 30px;
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: 700;

    
  }
  

  
  .nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  
  
  .navbar .nav-container li {
    list-style: none;
  }





.home__text1 {
    position: absolute;
    bottom: 10%;
    font-size: 24px;
    font-weight: 300;
    margin: 0 0 0 20px;
    z-index: -3;

    @media (min-width: $tablet) {
      font-size: 36px;
    }

    @media (min-width: $desktop) {
      font-size: 48px;
    }
    
}

ul#work__titles li {
  display:inline;
}

.work__titles {
  padding: 40px 0;

}

.work__images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
}



.image_container {
  position: relative;
  overflow: hidden;
  padding: 3px;
  width: 100%;
  z-index: 0;

  @media (min-width: $desktop) {
    width: 31%;
  }
}

.image_container:hover .image_1_text_title, .image_container:hover .image_2_text_title, .image_container:hover .image_3_text_title, .image_container:hover .image_4_text_title, 
.image_container:hover .image_5_text_title, .image_container:hover .image_6_text_title, .image_container:hover .image_7_text_title, .image_container:hover .image_8_text_title, .image_container:hover .image_9_text_title, .image_container:hover .image_1_text, 
.image_container:hover .image_2_text, .image_container:hover .image_3_text, .image_container:hover .image_4_text, .image_container:hover .image_5_text, 
.image_container:hover .image_6_text, .image_container:hover .image_7_text, .image_container:hover .image_8_text, .image_container:hover .image_9_text {
  cursor: pointer;
  visibility: visible; 
  opacity: 1;
}

#image1, #image2, #image3, #image4, #image5, #image6, #image7, #image8, #image9 {
  width: 100%;
}

#image1:hover, #image2:hover, #image3:hover, #image4:hover, #image5:hover, 
#image6:hover, #image7:hover, #image8:hover, #image9:hover {

  cursor: pointer;
  opacity: 0.6;
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
  overflow: hidden;
  
}

.image_1_text_title, .image_2_text_title, .image_3_text_title, .image_4_text_title, 
.image_5_text_title, .image_6_text_title, .image_7_text_title, .image_8_text_title, .image_9_text_title {

  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 16px;
  font-weight: 300;
  visibility: none; 
  opacity: 0;
  transition: opacity 0.3s;
}

.image_1_text, .image_2_text, .image_3_text, .image_4_text, .image_5_text, 
.image_6_text, .image_7_text, .image_8_text, .image_9_text {

  position: absolute;
  top: 40px;
  left: 20px;
  font-size: 14px;
  font-weight: 300;
  visibility: none; 
  opacity: 0;
  transition: opacity 0.3s;
}

.image_1_text:hover {
  display: block;
}

.work__links {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 18px;
  font-weight: 400;


  @media (min-width: $desktop) {
    font-size: 24px;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 30px 40px;
  background-color: rgba($background, 0.6);
}

.footer__email {
  font-size: 16px;
  font-weight: 400;
}

.footer__copyright {
  font-size: 16px;
  font-weight: 300;
  
}

.single__title {
  font-size: 24px;
  font-weight: 400;
  padding: 40px;
}

.single__image__container {
  width: 100%;
}

.gridrow {
  width: 100%;
}

.single__image, .singles__images {

  width: 100%;
}

.singles__images {
  margin-top: 10px;
}

.single__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 0;
}

.single__text__title {
  font-size: 18px;
  font-weight: 300;

  
  @media (min-width: $desktop) {
    font-size: 24px;
  }
}

.single__text__title2 {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 300;

  @media (min-width: $desktop) {
    font-size: 18px;
  }
}

.single__text {
  margin: 33px 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 21px;
}

.contact__title {
  font-size: 24px;
  font-weight: 400;
  
}

.contact__container {
  height: 85vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 0;
}

#map {
  width: 100%;
}

.contact__text {
  margin: 20px 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 21px;

  @media (min-width: $desktop) {
    font-size: 18px;
  }
}