/* colors */

$primary-color: #FFFFFF;
$secondary-color: #D27979;
$background: #232323;
$background-dark: #121212;

/* sizes */

$desktop: 960px;

/* grid */

$gridgutter: 20px;
$gridcolumns: 6;

$gridwidth: calc(100% - #{$gridgutter});
$gridwidthd: $desktop - $gridgutter * 2;


header{
    background-color: rgba($background, 0.6);
}




