@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,500&display=swap');


html, body {  
    font-family: 'Open Sans', sans-serif;  
    background-color: #E4EDFA;
}


.main {
    width: 100%;
    
    
}

.container {
width: 70%;
padding: 100px;

}

h5, a, h4{
    font-size: 11px;
}

a, h4{
    font-weight: bold;
}

p{
    font-size: 13px;
}

h2{
    font-size: 20px;
}

.card__image__user {
    width: 40px;
    height: 40px;
    background-size:contain;
    border-radius: 100%;
    
}

.card__information {

    padding: 10px 25px;
    background-color: white;
}

.container__text {

    border-bottom: 30px;
    border-color: grey;
}

.container__card__group {
    display:flex;
    justify-content: space-between;
    
    
}

.container__card {
    width: 318px;
    margin: 0px 15px 0px 0px;
    background-color: #BCD1FF;
    border: none;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}


.card__info {
    display:flex;
    justify-content: space-between;
    

}

.card__links {

    display:flex;
    justify-content: space-between;
    align-content: center;
}

.card__moreinfo {

    display: flex;
}
 
.card__link__user, h4 {

    text-decoration: none;
    color: #007AE9;

}

.card__user {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card__link__user {
    margin: 0px 5px;
}

@media screen and (max-width: 768px) { 
    


}

