

html {

    background-color: gainsboro;
    width: 100%;

}

 
.card {
    display: flex;
    overflow: hidden;
    max-width: 600px;
    height: 200px;
    background-color: white;
    border-radius: 5px;
    box-shadow: black;


    &__thumbnail {
        background: red;
        width: 80%;
    }

    &__content {
        background: orange;
        width: 20%;
    }
}
 