html, body {
    margin: 0;
    padding: 0;
    background: #f69898;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 990px;
    margin: 0 auto;
}

.container {
    width: calc(50% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 400px;
    border: 1px solid #d38080;
    margin: 4px;
    flex-direction: column;
}

.box {
    width: 120px;
    height: 120px;
    background: beige;
}

.mini-boxes {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.hole {
    width: 30px;
    height: 30px;
    background: beige;
    border-radius: 100%;
    margin: 8px;
}

.perspective-square {

    box-shadow: 0 40px 10px rgb(0 0 0 / 0.1);
    transform:  skew(15deg, 15deg) rotate(-180deg);
    border: none;
    border-radius: 25%;
    
}