@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
        font-family: 'Lato', sans-serif;
        background-color: black;
        display: flex;
        width: 100%;
        

    }

aside {
    width: 25%;
    border: 20ch;
}

main {
    width: 100%;
}

.logo {

padding: 10px;
color: red;
border-bottom: 3%;
border-color: gainsboro;
}

.nav__sidebar {
    margin: 20px;
    border: 3%;
border-color: gainsboro;
}

.splash__screen__image img {
    width: 100%;
}

.nav__main {

    display: flex;
    justify-content: space-between;
}


a, p, h1, h2, h3, h4, h5 {
    color: white;
    text-decoration: none;
    }

   
 .thumbnails__vertical {
     width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;

}

.thumbnails__horizontal_images {
    width: 100%px;
    display: flex;
    justify-content: space-between;
    Overflow: hidden;

}