@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
        font-family: 'Lato', sans-serif;
        background-color: black;
        display: flex;
        width: 100%;
        

    }

aside {
    width: 10%;
    
}

main {
    width: 90%;
}

.menu1 {

    padding: 0px, 10px;
    border-bottom: 1px;
    border-color: gainsboro;
}

.nav__main__menu {

    padding: 10px;
    
}

.nav__main__home {

    margin: 10px;
}

.nav__main__shows {

    margin: 10px;
}

.nav__main__movies {

    margin: 10px;
}

.nav__main__new {

    margin: 10px;
}

.nav__main__icons {

    margin: 10px;
}

.thumbnails__horizontal_text {

    display: flex;
}

.logo {

padding: 10px;
color: red;
border-bottom: 3px;
border-color: gainsboro;
}

.nav__sidebar {
    margin: 20px;
    border: 3%;
border-color: gainsboro;
}

.splash__screen__image img {
    width: 100%;
}

.nav__main {

    display: flex;
    justify-content: space-between;
}


a, p, h1, h2, h3, h4, h5 {
    color: white;
    text-decoration: none;
    }

   
 .thumbnails__vertical {
     width: 100%;
     height: 50%;
     margin: 20px;
    display: flex;
    justify-content: space-between;
    overflow: auto;

}

.thumbnails__horizontal_images {
    width: 100%;
    margin: 10px, 0px;
    display: flex;
    justify-content: space-between;
    Overflow: auto;

}