@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
        font-family: 'Lato', sans-serif;
        background-color: black;
        display: flex;
        

    }

aside {
    width: 250px;
}

.splash__screen__image {
    width: 100%;
}


a, p, h1, h2, h3, h4, h5 {
    color: white;
    text-decoration: none;
    }